{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Create User{% endblock %}

{% block content %}
<main>

    <div class="container">
        <div class="col-lg-9 offset-lg-1">

            <section>
                <h2 class="text-center">Cadastre-se na nossa plataforma de empregos.</h2>
                <h3 class="text-center">A maior plataforma de procura de Serviços do Brasil.</h3>
                <hr>
            </section>

            <section>
                <form method="post" class="row justify-content-center">
                    {% csrf_token %}
                
                    {% for field in form.visible_fields %}
                        {% if field.name == "is_client" %}
                            <div class="form-group col-sm-5">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-check" }}
                            </div>
                        {% else %}
                            <div class="form-group col-sm-5">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                    <div class="col-sm-5 botaoVerde">
                        <button class="w-100 btn btn-outline-success" type="submit">Concluir Cadastro</button>
                    </div> 

                </form>
            </section>

        </div>
    </div>

</main>

{% endblock %}