{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static '/style/login_style.css' %}"/>
{% endblock %}

{% block content %}

<main>

    <div class="container min-vh-100 ">

        <section class ="card-login">
            <div class="card-light card-login-in shadow-lg rounded p-4">
                <form method="post" class="row login-input" >
                    <h4 class="text-center">Encontra Serviços</h4>
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                        </div>
                    {% endfor %}
                    {{ form.non_field_errors }}
                    <div class="col-sm-12">
                        <button class="w-100 btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
                <div class="row">
                    <a class="mt-2 offset-sm-4 col-4" href="{% url 'core:create_user' %}">
                        Cadastre-se aqui.
                    </a>
                </div>
                

            </div>
        </section>

    </div>

</main>

{% endblock %}