{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Teste{% endblock %}

{% block content %}

    <body>
        <div style="padding: 20px" class="container">
            <h1>Bem vindo, "usuario"</h1>
            <h2>Abaixo temos uma lista de categorias de serviços</h2>
        </div>
        <div style="padding: 20px" class="container">
            <ul class="list-group">
                <li class="list-group-item">Pet Shop</li>
                <li class="list-group-item">Consertos gerais</li>
                <li class="list-group-item">Cabeleireiros</li>
                <li class="list-group-item">Serviços gerais</li>
                <li class="list-group-item">Mecanica automotiva</li>
                <li class="list-group-item">Frete</li>
            </ul>
        </div>
    </body>

{% endblock content %}